
/*Alan david zea marin*/
/*Importe un tipo de fuente "Ubuntu" desde Google fonts */
@import url("https: //font.googleapis.com/css?family=ubuntu:400,700");

/*Este elimina las margenes y rellenos de todos los elementos */
*{
    margin:0;
    padding: 0;
}

/* Este agrega un estilo en general al documento*/
body {
    background-color: #fff;/*El background-color agrega el fondo blanco de toda la pagina*/
    color: #ffffff; /*Este cambiar al color blanco a todo el texto*/
    font-family: "Ubuntu",sans-serif; /*Este es el tipo de fuente si no ecuentra el ubuntu usa el sans serif*/
    margin: 5%; /*Espacio del cuerpo */
}

/*Estilos del encabezado*/

header {
    text-align: center; /*El text aling es el encargado de centrar el texto*/
    background-color: #191f35;/*Este background color agrega un fondo oscuro*/
} 

header h1,
header h2 {
    font-weight: normal;
    line-height: 1;/*esta es la altura de la linea*/
}  

header h2 {
    margin-top: 5%;
    opacity: 0.5;/*Transparencia*/
}
h1{
    font-size: 4em; /*En el h1 coloca el tamaño de fuente grande*/
}

h2 {
    font-size: 1.5em;/*En el h2 coloca el tamaño de fuente menor */

}

h3 {
    font-size: 1.5em;
    margin-bottom: 1%; /*Este crea un espacio abajo del h3*/

}


h4 {
    margin-top: 5%; /*Este crea un espacio encima del h4*/
}

/*Este coloca estilos a todos los iconos del contenedor de habilidades*/
.habilidades i{

    font-size: 0.8em;/*Este es el tamaño del icono*/
    color: #1815e2;/*le coloca un color azul oscuro*/
    background: #ffffff;/*Este agrega un fondo blaco*/
    border-radius: 2em;/*Este crea un circulo*/
    padding: 2px; /*Este es el espacio del circulo*/ 
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: center;
    line-height: 1.5em;

}
/*Este coloca estilos a todos los iconos del contenedor de experiencia*/
.experiencia i {
    font-size: 0.8;
    color: #000000;
    background: #eaeaec;
    border-radius: 2em;
    padding: 2px;
    width: 1.5em;
    height: 1.5em;  
    text-align: center;
    vertical-align: center;
    line-height: 1.5em;
}

/*Este es agregar estilos al container principal*/
.container{
    background-color: #1c2499;
    box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.5);/*el box-shdow agrega la sombra del container*/
    width: 70%;/*agrega la anchura del contenedor*/
    margin: 0 auto;/*Se encarga de centrar el container*/
    position: relative;
    z-index: 1;
    flex-direction: column;
    text-align: center; /*Este coloca centrado el texto dentro del container*/
    
}

/*Estilos de cabecera*/
.cabecera {
    position: relative;
}
/*Este es el fondo de cabecera*/
.cabecera::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img_fondo2.png");/*aqui agrege la foto que va en el container cabecera*/
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}

/*Estilos del container donde esta la foto de perfil*/
.contenedor_foto_perfil {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border:7px solid#0453fd;
    margin:5%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    justify-content: center; 
    align-items: center; 
    
}
.contenedor_foto_perfil img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    
}

.nombre_puesto {

    display:inline-block;
    vertical-align: middle;
    margin-left: 1%;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.contenido_cv {
    display: flex;
    width: 100%;
}
/*Este son los estilos del container habilidades*/
.habilidades{
    display: inline-block;
    vertical-align: top;
    background-color: #5cc9d8;
    padding: 5%;
    width: 48%;
    box-sizing: border-box;
    overflow: hidden;

}

.habilidades ul {
    margin-left: 5%;
}

.carta_presemtacion {
    text-align: justify;
}

.grafico {
    width: 34px;
    height: 34px;
    position: relative;
    border-radius: 50%;
    overflow:  hidden;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1%;

}
/*Este estilos es para que mi donut sea mas simetrico y quede centrado*/
.donut-hole {
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: #f7f1f1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    border-radius: 50%;
    z-index: 1;
}
/*aqui esta dividio mi donut para colocar 3 colores en el donut*/
.sector {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
    transform-origin: left;

}
/*Este es el primer  color del icono  donut de habilidades y experiencias */
#sector1 {
    transform: rotate(0deg);
    background-color: #b6ffff;

}
/*Este es el segundo  color del icono  donut de habilidades y experiencias */
#sector2 {
    transform: rotate(120deg);
    background-color: #0cb7f2;
    
}
/*Este es el tercer  color del icono  donut de habilidades y experiencias */
#sector3 {
    transform: rotate(240deg);
    background-color: #004173;
    
}

.habilidad {

    display: inline-block;
    margin-top: 1%;
    vertical-align: middle;
}

/*Este son los estilos del container experiencia*/
.experiencia {
    display: inline-block;
    vertical-align: middle;
    padding: 5%;
    width: 48%;
    overflow: hidden;
    box-sizing: border-box;

}

.experiencia h3 {

    text-align: right;
    
}

.nombre_empresa {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.año_puesto {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 49%;
}

.descripcion_puesto {
    margin-top: 3%;
    text-align: justify;
    
}


/*aqui agrege los responsive para dispositivos de 600px*/
    @media (max-width: 660px) {
        .habilidades, .experiencia,.container {
            width: 110%; /* Para pantallas más pequeñas, se apilan uno sobre otro */
            margin-bottom: 20px;
        }
        /*aagrege esta condicion de que si la pantalla esta en 600px se coloque de fondo negro*/
        body {
            background-color: #000000;
        }
    }
    /*aqui agrege los responsive para dispositivos de 768px*/
    @media (min-width: 768px) {
        .habilidades, .experiencia,.container {
            width: 100%; /* Para pantallas más pequeñas, se apilan uno sobre otro */
            margin-bottom: 20px;
        }
        /*aagrege esta condicion de que si la pantalla esta en 600px se coloque de fondo gris*/
        body {
            background-color: #4b4b4b;
        }
    }
    /*aqui agrege los responsive para dispositivos de 992px*/
    @media (min-width: 992px) {
        .habilidades, .experiencia,.container {
            width: 100%; /* Para pantallas más pequeñas, se apilan uno sobre otro */
            margin-bottom: 20px;
        }
        /*aagrege esta condicion de que si la pantalla esta en 600px se coloque de fondo gris claro*/
        body {
            background-color: #b9b9b9;
        }
    }
    /*aqui agrege los responsive para dispositivos de 1200px*/
    @media (min-width: 1200px) {
        .habilidades, .experiencia,.container {
            width: 50%; /* Para pantallas más pequeñas, se apilan uno sobre otro */
            margin-bottom: 20px;
        }
        /*aagrege esta condicion de que si la pantalla esta en 600px se coloque de fondo blanco*/
        body {
            background-color: #fffdfd;
        }
    }


